<template>
    <div>    
        <div class="line_wrapper">
          <div :id="chart_id"></div>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'C3GaugeComponent',
        props: ['data','label','chart_id','treshold','pattern','minVal','maxVal','units'],

        mounted:function() {
        },

        methods:{
            loadChart:function(data) {
                if(this.chart == null) {

                    this.chart = c3.generate({
                        bindto:'#'+this.chart_id,
                        
                        data: {
                            type:'gauge',
                            columns:[data]
                        },
                        
                        gauge: {
                            
                            min:this.minVal,
                            max:this.maxVal,
                            units:this.units,
                            label: {
                                        format: function(value, ratio) {
                                            return Math.round(value*100)/100
                                        },
                                        show: true // to turn off the min/max labels.
                                    },
                        },
                        color: {
                            pattern: this.pattern, // the three color levels for the percentage values.
                                threshold: {
                                    unit: 'value', // percentage is default
                                    max: this.maxVal,
                                    values:this.treshold
                                }
                        },
                        size: {
                            //height:300
                        },
                        transition:{
                            duration:500
                        }
                    })
                } else {
                    this.updateChart(data)
                }    
            },

            updateChart:function(data) {
                 this.chart.load({
                   bindto:'#'+this.chart_id,
                   columns:[data]
               })
            }
        },

        data(){
            return {
                chart:null
            }
        },

        watch:{
            
        }
    }

</script>

<style scoped>

.line_wrapper {
    


    
}


</style>