<template>
    <div>    
        <div class="line_wrapper">
          <div :id="chart_id"></div>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'C3LineComponent',
        props: ['title','chart_id'],

        mounted:function() {
            
        },

        methods:{
            sortByTimestamp:function(a,b) {
                var new_a = new Date(a).getTime()
                var new_b = new Date(b).getTime()
                return new_a-new_b
            },
            
            getTimeframe:function(data,minTime,maxTime) {
                var data_copy = JSON.parse(JSON.stringify(data[0]));
                data_copy.shift()
                data_copy.sort(this.sortByTimestamp)
                if(typeof data_copy[0] == 'undefined') {
                    return {from:0,to:0}    
                }
                return {from:data_copy[0],to:data_copy[data_copy.length-1]}    
            },

            loadChart:function(data,from,to) {
                 var timeFrame = this.getTimeframe(data,from,to);
                 if(this.chart==null) {
                    this.chart = c3.generate({
                        bindto:'#'+this.chart_id,
                        data: {
                            x:'x',
                            columns:data,
                            xFormat: '%Y-%m-%dT%H:%M:%S.%LZ'
                        },
                        axis : {
                            x: {
                                type:'timeseries',
                                tick:{
                                    format:"%H:%M:%S",
                                },
                                min:timeFrame.from,
                                max:timeFrame.to

                            }
                        },
                    })
                } else {
                    this.updateChart(data,from,to)
                }

            },

            updateChart:function(data,from,to) {
               //this.chart.unload()
               var timeFrame = this.getTimeframe(data,from,to);
               this.chart.axis.range({max: {x:timeFrame.to}, min: {x:timeFrame.from}}); 
               this.chart.load({
                   bindto:'#'+this.chart_id,
                   columns:data
               })
               
            }
        },

        data(){
            return {
                chart:null
            }
        },

        watch:{
           
        }
    }

</script>

<style scoped>

.line_wrapper {
    


    
}


</style>