<template>
    <div>    
        <h5>{{ title }}</h5>
        <div class="doughnut_wrapper">
          <p class="doughnut_text">{{ center_text }}</p>
          <canvas :id="chart_id"></canvas>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'DoughnutComponent',
        props: ['data','labels','colors','title','chart_id','center_text'],

        mounted:function()
        {
             
                 var chart_inst = document.getElementById(this.chart_id);
                 this.chart = new Chart(chart_inst,{
                    type: 'doughnut',
                    data: {
                        labels: this.labels,
                        datasets: [{
                            data: this.data,
                            backgroundColor:this.colors
                        }]
                    },
                    
                    options: {
                       
                        legend:{
                            display:false
                        }
                    }
                })
        },

        data(){
            return {
                chart:''
            }
        },
        watch : {
            data:function()
            {
                
                this.chart.data.datasets[0].data = this.data;
                this.chart.update();
            }
        }

    }

</script>

<style scoped>

.doughnut_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}

.doughnut_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size:1.5em;
  font-family: 'Roboto';
}

</style>