<template>
    <div>    
        <div class="line_wrapper">
          <div :id="chart_id" style="height:500px; width:1200px;"></div>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'GoogleLineComponent',
        props: ['data','labels','title','chart_id'],

        mounted:function()
        {
                google.charts.load('current', {'packages':['corechart','line']});
                google.charts.setOnLoadCallback(this.loadChart);        
        },

        methods:{
            loadChart:function() {
                this.temp_data = new google.visualization.DataTable();
                for(var i=0;i<this.labels.length;i++)
                {
                    this.temp_data.addColumn(this.labels[i].type,this.labels[i].value);
                }
                console.log(this.data);
                this.temp_data.addRows(this.data)
                this.chart = new google.visualization.LineChart((document.getElementById(this.chart_id)))
                this.chart.draw(this.temp_data,this.options)  
            }
        },

        data(){
            return {
              chart:null,
              temp_data:null,
              options:{
                  title:this.title,
                  curveType:'function',
                  legend:{position:'bottom'},
                  interpolateNulls:true,
                  pointSize:10,
                  pointShape:'square',
                  hAxis: {
                      minValue: new Date((new Date().getTime()-43200000)),
                      maxValue: new Date((new Date().getTime()+43200000)),
                      gridlines: {
                        count: 24,
                        },
                    format: 'HH:MM:SS'
                  }
              }
            }
        },

        watch:{
            data:function(){
                this.loadChart();
            }
        }
    }

</script>

<style scoped>

.line_wrapper {
    width:900px;


    
}


</style>