<template>
    <div>    

        <div class="line_wrapper">
          <canvas :id="chart_id"></canvas>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'LineComponent',
        props: ['data','labels','title','chart_id','x_label','y_label'],

        mounted:function()
        {
             
                 var chart_inst = document.getElementById(this.chart_id);
                 this.chart = new Chart(chart_inst,{
                    type: 'line',
                    data: {
                        labels: this.labels,
                        datasets: this.data,
                        borderColor:'green',
                        showLine:true
                    },
                    
                    options: {
                        animation:false,
                        legend:{
                            display:false
                        },
                        scales:
                        {
                            yAxes:[{
                                scaleLabel:{
                                    display:true,
                                    labelString:this.y_label,
                                }
                            }],
                            
                            xAxes: [{
                                type:'time',
                                unit:'hour',
                                time: {
                                   displayFormats:{
                                       minute:'hh:mm'
                                   }
                                },
                                distribution:'series',
                                display:true,
                                scaleLabel:{
                                    display:true,
                                    labelString:this.x_label
                                }
                            }]

                        }
                        
                    
                    }
                })
        },

        data(){
            return {
                chart:null
            }
        },

        watch:{
            data:function()
            {
                this.chart.data.datasets[0].data = JSON.parse(JSON.stringify(this.data));
                
                this.chart.update();
            }
        }
    }

</script>

<style scoped>

.line_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}


</style>