<template>
    <div>    
      
        <div id="map_wrapper">
          
        </div>
    </div>
</template>


<script>
    var map
    var layerGroup
    var stationIcon = L.icon({
        iconUrl:"/static/station.png",
        iconSize:[32,37],
        shadowSize:[42,30],
        iconAnchor:[22,32],
        shadowAnchor:[4,62],
        popupAnchor:[0,-20]
    });
    
    var heat

    var mapMarkers = {
        'stationIcon':stationIcon,
    }
   
    var customMarker = L.Marker.extend({
                options: {
                    station_id:''
                }
            })
    export default {
        

        name: 'MapComponent',
        props: ['coords','zoom','points','heatmapRadius','heatmap'],

        mounted:function()
        { 
            map = L.map('map_wrapper').setView(this.coords, this.zoom);
            
            layerGroup = L.layerGroup().addTo(map);
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a','b','c']
            }).addTo(map);
            
            for(var i=0;i<this.points.length;i++)
            {
                 

                var mrk  = new customMarker( [this.points[i].lat, this.points[i].lng],{station_id:this.points[i].name,icon:mapMarkers[this.points[i].icon]} )
                    .bindPopup( 'Identyfikator: <span><b>' + this.points[i].name + '</b></span><br>Ostatnia aktualizacja: <b>'+new Date(this.points[i].timestamp*1000).toISOString()+'</b>')
                    .on('click',this.onClick)
                    .addTo( layerGroup );
            }
            heat = L.heatLayer(this.heatmap,{radius:this.heatmapRadius,gradient:{0.4:'blue',0.65:'lime',1:'red'}}).addTo(layerGroup)
        },

        methods: {
            onClick:function(e)
            {
                this.$emit('station_click',e.target.options);
            }
        },

        data(){
            return {};
        },
        watch : {
            points:function(){
               layerGroup.clearLayers();
                for(var i=0;i<this.points.length;i++)
                {
                    var mrk  = new customMarker( [this.points[i].lat, this.points[i].lng],{station_id:this.points[i].name,icon:mapMarkers[this.points[i].icon]} )
                    .bindPopup( 'Identyfikator: <b>' + this.points[i].name + '</b><br><b>Ostatnia aktualizacja:</b>'+new Date(this.points[i].timestamp*1000).toISOString())
                    .on('click',this.onClick)
                    .addTo( layerGroup );
                }
                heat = L.heatLayer(this.heatmap,{radius:this.heatmapRadius,gradient:{0.4:'blue',0.65:'lime',1:'red'}}).addTo(layerGroup)
                
            }
        }

    }

</script>

<style scoped>

#map_wrapper {
    height: 500px;
      
}



</style>