<template>
  <div class="hello">
    <div class="row">
      
      <div class="col-lg-12">
      <MapComponent @station_click="stationClick" :heatmap="heatmapPoints" :heatmapRadius="heatmapRadius" :points="markers" :coords="[52.411875,16.953311]" zoom="13"></MapComponent>
      </div>
    </div>
    <br>
    <div class="row">
          <div class="col-lg-6">
              <C3GaugeComponent ref="gauge25" :data="pm2gauge" :label="'PM 2.5'" :chart_id="'gauge_chart'" :treshold="[13, 37, 61, 85, 120]" :pattern="['#0fbf00', '#66f759', '#f2f759', '#efb62f','#d82b00','#7f1900']" :minVal="0" :maxVal="120" :units="'µg/m3'"></C3GaugeComponent>
          </div>
          <div class="col-lg-6">
              <C3GaugeComponent ref="gauge10" :data="pm10gauge" :label="'PM 10'" :chart_id="'gauge_chartpm10'" :treshold="[21, 61, 101, 141, 200]" :pattern="['#0fbf00', '#66f759', '#f2f759', '#efb62f','#d82b00','#7f1900']" :minVal="0" :maxVal="200" :units="'µg/m3'"></C3GaugeComponent>
          </div>
            
    </div>
   
    <div class="row">
        <div class="col-sm">
              <C3LineComponent ref="lineComponent" :chart_id="'air_chart'"></C3LineComponent>
          </div>
            
    </div>
     <br> <br> 
     <div class="row">
        <UISliderComponent :autoupdate="updateCheck" @slider_change="timelineChange" :slider_id="'air_slider'" :minVal="new Date().getTime()-(3600*1000*24)" :start="this.minTime" :stop="this.maxTime" :margin="this.margin"></UISliderComponent>
      <div class="form-check">
        <input v-model="updateCheck" class="form-check-input" type="checkbox" checked value="update" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
        Auto update
  </label>
</div>
     </div>
    <br>
    <br>
    <div class="row">
      
        <div class="col-lg-12">
              <TableStaticComponent ref="tableMes" :data="table_data" :columns="table_columns" :table_id="'process_table'"></TableStaticComponent>
          </div>  
    </div>
    
  </div>
  
</template>

<script>

import DoughnutComponent from './DoughnutComponent.vue';
import C3LineComponent from './C3LineComponent.vue';
import C3GaugeComponent from './C3GaugeComponent.vue';
import TableStaticComponent from './TableStaticComponent.vue';
import MapComponent from './MapComponent.vue'
import UISliderComponent from './UISliderComponent.vue'

export default {
  name: 'StatsComponent',
  components:
    {
      'DoughnutComponent':DoughnutComponent,
      'TableStaticComponent':TableStaticComponent,
      'C3LineComponent':C3LineComponent,
      'C3GaugeComponent':C3GaugeComponent,
      'MapComponent':MapComponent,
      'UISliderComponent':UISliderComponent
    },
  mounted: function()
  {
    //this.url = "http://178.216.200.43";
    this.url = "http://"+window.location.hostname;
    this.getAllStations();
    
        
  },

    
  methods:{
    
    stationLoad:function(station_id,fromTimestamp,toTimestamp) {
      this.air_data = []
      if(typeof station_id!='undefined') {
        this.$http.get(this.url+'/devs/'+station_id+'/'+Math.round(fromTimestamp/1000)+'/'+Math.round(toTimestamp/1000))
          .then((resp)=>{
            this.station_measurments = resp.body;
            if(this.station_measurments==null) this.station_measurments = []
            this.air_data = []
            this.table_data = []
            var air_data_labels = ['x']
            var temp_pm2_array = ['PM2.5'];
            var temp_pm10_array = ['PM10'];
            for(var i=0;i<this.station_measurments.length;i++) {
              air_data_labels.push(new Date(this.station_measurments[i].timestamp*1000).toISOString());  
              temp_pm2_array.push(this.station_measurments[i].pm25);
              temp_pm10_array.push(this.station_measurments[i].pm10);
              this.table_data.push([new Date(this.station_measurments[i].timestamp*1000).toISOString(),this.station_measurments[i].pm25,this.station_measurments[i].pm10])
            }
            this.air_data.push(air_data_labels,temp_pm2_array,temp_pm10_array)
            this.pm2gauge = ["PM 2.5",temp_pm2_array[temp_pm2_array.length-1]]
            this.pm10gauge = ["PM 10",temp_pm10_array[temp_pm10_array.length-1]]
            this.$refs.tableMes.loadTable()
            this.$refs.lineComponent.loadChart(this.air_data,fromTimestamp,toTimestamp)
            this.$refs.gauge25.loadChart(this.pm2gauge)
            this.$refs.gauge10.loadChart(this.pm10gauge)
            
       })
       .catch((error)=>{
         this.extend_active=false;
         this.loader_active=false;
         toastr.error("Cannot fetch station data");

       })
     }
      
     },
     
     stationClick:function(val) {
       toastr.success("Wybrano stację " + val.station_id)
       this.stationLoad(val.station_id,this.minTime,this.maxTime);
       this.actual_station_id = val.station_id;
     },

     getAllStations:function(){
         this.$http.get(this.url+'/devs')
         .then((response)=>{
           var tempMarkers = []
           for(var i=0;i<response.body.length;i++)
           {
             tempMarkers.push({
               name:response.body[i].station_id,
               lat:response.body[i].lat,
               lng:response.body[i].lng,
               timestamp:response.body[i].timestamp,
               icon:"stationIcon",
               pm25:response.body[i].pm25,
               pm10:response.body[i].pm10
             })
           }
          
           this.markers = tempMarkers;
         })
         .catch((error)=>{
             toastr.error("Cannot fetch station data");
         })
     },

     timelineChange:function(values) {
       this.minTime = values[0];
       this.maxTime = values[1];
       this.stationLoad(this.actual_station_id,this.minTime,this.maxTime);
      
     }
  },


  data () {
    return {
        url:"http://"+window.location.hostname,
        markers:[],
        station_measurments:[],
        air_data:[],
        air_data_labels:[],
        table_columns:[
          {title:'Czas',sortable: true, visible:true},
          {title:'Poziom PM 2.5',sortable: true, visible:true},
          {title:'Poziom PM 10',sortable: true, visible:true}
        ],
        table_data:[
         
        ],
        minTime:new Date().getTime()-(3600*1000*1),
        maxTime:new Date().getTime(),
        margin:1000*60,
        actual_station_id:undefined,
        pm2gauge:["PM2.5",0],
        pm10gauge:["PM10",0],
        heatmapPoints:[],
        heatmapRadius:200,
        updateCheck:true
      }


    },
    watch: {
      
    }

}





</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#checkbox-container {
  
  max-width: 20rem;
  margin-left:auto;
  margin-right:auto;
}



</style>
