<template>
    <div v-show="visible" class="table_holder">
    <h4>Pomiary szczegółowe</h4>

    <a class="btn btn-outline-secondary" v-on:click="cog=!cog"><i class="fas fa-cog"></i></a>
     <div id="checkbox-container" class="card" v-show="cog">

            <div class="card-body">
            <fieldset class="form-group">
                <div class="form-group">
                <label>Search</label>
                <input class="form-control" v-model="searchVal" v-on:keyup="searchTable()" type="text"/>
                </div>
                <div class="form-group">
                <label>Enteries</label>
                <label for="exampleSelect1">Number of enteries on page</label>
                <select v-on:change="changeCount()" v-model="selectedCount" class="form-control" id="exampleSelect1">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                    
                </select>
                </div>
                <div class="form-check" v-for="(item,key) in columns">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" v-on:click="toggleColumns(key)" :value="item.title" checked="">
                    {{ item.title }}
                </label>
                </div>
            </fieldset>
            </div>
            </div>
        </fieldset>
            <table :id="table_id" class="table">
            <thead>
                <tr>
                    
                </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
        </div>
</template>

<script>

    export default {
        name: 'TableStaticComponent',
        props: ['columns','table_id','data'],
        mounted: function() {
            
            

        },
    methods:{
        
        loadTable:function() {
            this.visible=true
            if(this.table==null) {
                this.$nextTick(function () {
                this.table = $("#"+this.table_id).DataTable({
                columns: this.columns,
                "info":false,
                data:this.data,
                "dom":"rtip"

                })
             })
            } else {
                this.table.clear();
                this.table.rows.add(JSON.parse(JSON.stringify(this.data))).draw(false);
            }
            
        },

        toggleColumns:function(columnNumber)
        {
            var column = this.table.column(columnNumber);
            column.visible(!column.visible());
        },

        searchTable:function()
        {
            this.table.search(this.searchVal).draw();
        },

        changeCount:function()
        {
            this.table.page.len(this.selectedCount).draw();
        }
    },

        data () {
            return {
                table:null,
                searchVal:'',
                selectedCount:10,
                cog:false,
                visible:false
            }
        },
        watch : {
           
        }
}

</script>