<template>
        <div class="ui_slider">
          <div :id="slider_id"></div>
        </div>
</template>


<script>
    function unixConvertTime(str) {
                var date = new Date(str);
                var hours = ("0"+date.getUTCHours()).slice(-2);
                var minutes = ("0" + date.getUTCMinutes()).slice(-2);
                var seconds = ("0" + date.getUTCSeconds()).slice(-2);
                var formattedTime = hours + ':' + minutes;
                return formattedTime;
    }

    function unixConvertDate(str) {
                var date = new Date(str);
                var years = date.getUTCFullYear();
                var months = ('0' + (date.getUTCMonth() + 1)).slice(-2);
                var days = ('0' + date.getUTCDate()).slice(-2);
                var formattedTime = days + ':' + months + ':' + years;
                return formattedTime;
    }

    export default {
         
        
        name: 'UISliderComponent',
        props: ['slider_id','minVal','start','stop','margin','autoupdate'],

        mounted:function()
        {
            this.loadSlider();
            this.updateSlider();
            this.slider_instance.on('change',this.onChange)
            this.slider_instance.on('update',this.onChange)
            setInterval(()=>{
                this.updateSlider();         
            },30000)
        },

        methods:{
           
            updateSlider:function() {
            
                 this.maxVal = new Date().getTime()
                 if(this.autoupdate==true) {
                    this.stop_time = new Date().getTime();    
                } else {
                    this.stop_time = this.stop
                }
                
                this.slider_instance.destroy();
                this.loadSlider()
            },

            loadSlider:function() {
                 var slider = document.getElementById(this.slider_id)
                 this.start_time = this.start
                 this.slider_instance = noUiSlider.create(slider,{
                     range: {
                         min: this.minVal,
                         max: this.maxVal
                     },
                     connect:true,
                     start:[this.start_time,this.stop_time],
                     tooltips:[true,true],
                     format:{
                         to:function(val) {
                             return unixConvertDate(val) +'<br>'+unixConvertTime(val) +' UTC';
                         },
                         from:function(val) {
                             return val;
                         }

                     },
                     margin:this.margin
                 })
                 this.slider_instance.on('change',this.onChange)
                 this.slider_instance.on('update',this.onChange)
                 this.$emit('slider_change',[this.start_time,this.stop_time]);
            },

            onChange:function(values, handle, unencoded, tap, positions) {
                this.$emit('slider_change',unencoded);
            }
        },

        data(){
            return {
                slider_instance:null,
                start_time:null,
                stop_time:null,
                maxVal:new Date().getTime()
            }
        },

        watch:{
            
        }
    }

</script>

<style scoped>

.ui_slider {
    width:100%


    
}

.noUi-handle-lower .tooltip
{
position: fixed;
left: 0 !important;
}

.noUi-handle-upper .tooltip
{
position: fixed;
left: 100% !important;
}


</style>