<template>
  <div id="app">
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand"><img class="img img-fluid" style="max-width:180px" :src="brand"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">

            <li class="nav-item" v-for="item in menuLinks">
              <router-link :to="item.link" class="nav-link"><i :class="item.icon"></i>{{ item.name }}</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <router-view/>

      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      brand:"logo",
      menuLinks : [
       
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top:0px;
}
</style>
